<ion-list lines="none">
  <ion-list-header color="light">
    <ion-label>Stanford Sleepiness Scale</ion-label>
    <ion-badge item-end color="primary">{{value}}</ion-badge>
  </ion-list-header>
  <ion-item>
    <ion-range min="1" max="7" step="1" pin=true snaps=true color="primary" [(ngModel)]="value" (ionChange)="updateScaleValue()">
      <ion-icon slot="start" name="happy"></ion-icon> 
      <ion-icon slot="end" name="sad"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    {{scaleValue}}
  </ion-item>
</ion-list>

<ion-button color="success" expand="full" (click)="onSave()">
  <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
  Save
</ion-button>
<ion-button color="danger" expand="block" (click)="onCancel()">
  <ion-icon slot="start" name="close-circle-outline"></ion-icon>
  Cancel
</ion-button>

<ion-buttons slot="start">

  <ion-button color="danger" (click)="onCancel()">
    <ion-icon slot="primary" name="cancel">
      Cancel
    </ion-icon>
  </ion-button>

  <ion-button color="success" (click)="onSave()">
    <ion-icon slot="secondary" name="add"></ion-icon>
    Save
  </ion-button>
</ion-buttons>
